[submodule "lib/MLX42"]
	path = lib/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "lib/get_next_line"]
	path = lib/get_next_line
	url = https://github.com/Nicktvdd/get_next_line.git
[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/Nicktvdd/libft.git
